html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    background-color: $bg-color;
}

* {
    transition: all $transition;
}

*::selection {
    background-color: $green-color;
    color: $bg-color;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}