$green-color: #007163;
$brown-color: #a67c52;
$dark-text: #000;
$line-color: #f2f2f2;
$light-text: #fff;
$backdrop-color: rgba(0, 113, 99, 0.7);
$green-bg: rgba(0, 113, 99, 0.1);
$brown-bg: rgba(166, 124, 82, 0.1);
$input-bg: #e8e8e8;
$bg-color: #fffcf6;
$transition: 0.5s ease;