<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="" class="footer__logo">
        <svg class="footer__icon" width="119" height="54">
          <use href="../../svg/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="footer__left">
        <li class="footer__item">
          <a href="" class="footer__link">Modile App</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Community</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Company</a>
        </li>
      </ul>
      <ul class="footer__right">
        <li class="footer__item">
          <a href="" class="footer__link">Help desk</a>
        </li>
        <li class="footer__item"><a href="" class="footer__link">Blog </a></li>
        <li class="footer__item">
          <a href="" class="footer__link">Resources</a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">© 2022 Session artist All rights reserved</p>
    </div>
  </div>
</footer>
