<header class="header">
  <div class="container">
    <button type="button" data-search-open class="header__iconbtn">
      <svg class="header__btnicon" width="20" height="20">
        <use href="./svg/icons.svg#search"></use>
      </svg>
    </button>
    <a href="./index.html" class="header__logo">
      <svg class="header__icon" width="119" height="54">
        <use href="./svg/icons.svg#logo"></use>
      </svg>
    </a>
    <button type="button" class="header__iconbtn">
      <svg class="header__btnicon" width="20" height="20">
        <use href="./svg/icons.svg#menu"></use>
      </svg>
    </button>
    <form class="header__form">
      <label class="header__label">
        <input type="text" class="header__input" placeholder="Search" />
        <button class="header__button">
          <svg class="header__btnicon" width="20" height="20">
            <use href="./svg/icons.svg#search"></use>
          </svg>
        </button>
      </label>
    </form>
    <ul class="header__list">
      <li class="header__item">
        <button class="header__btn">Login in</button>
      </li>
      <li class="header__item">
        <button class="header__btn">Register</button>
      </li>
    </ul>
  </div>
</header>
