<header data-menu class="menu is-hidden">
  <div class="container">
    <div class="menu__header">
      <button type="button" data-search-menu class="menu__iconbtn">
        <svg class="menu__btnicon" width="20" height="20">
          <use href="./svg/icons.svg#search"></use>
        </svg>
      </button>
      <a href="./index.html" class="menu__logo">
        <svg class="menu__icon" width="119" height="54">
          <use href="./svg/icons.svg#logo"></use>
        </svg>
      </a>
      <button type="button" data-menu-close class="menu__iconbtn">
        <svg class="menu__btnicon" width="20" height="20">
          <use href="./svg/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <ul class="menu__list">
      <li class="menu__item"><button class="menu__btn">Login in</button></li>
      <li class="menu__item"><button class="menu__btn">Register</button></li>
    </ul>
  </div>
</header>
