<div data-search class="search is-hidden">
  <div class="container">
    <form class="search__form">
      <label class="search__label">
        <input
          type="text"
          placeholder="Search"
          required
          class="search__input"
        />
        <button type="button" data-search-close class="search__btn">
          <svg class="search__icon" width="20" height="20">
            <use href="./svg/icons.svg#close"></use>
          </svg>
        </button>
      </label>
    </form>
  </div>
</div>
