<section class="hero">
  <div class="container">
    <div class="hero__text">
      <h1 class="hero__title">Session Artists for your dream project.</h1>
      <div class="hero__circles">
        <div class="hero__circle"></div>
        <div class="hero__circle"></div>
      </div>
      <div class="hero__rect"></div>
    </div>
    <h3 class="hero__subtitle">Select Category</h3>
    <ul class="hero__buttons">
      <li class="hero__button">
        <button class="hero__btn">Find an srtist</button>
      </li>
      <li class="hero__button">
        <button class="hero__btn">Become seller</button>
      </li>
    </ul>
    <ul class="hero__list">
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./img/desktop/index/hero/hero-img-1@1x-desktop.webp 1x,
              ./img/desktop/index/hero/hero-img-1@2x-desktop.webp 2x
            "
            media="(min-width: 1170px)"
          />
          <source
            srcset="
              ./img/mobile/index/hero/hero-img-1@1x-mobile.webp 1x,
              ./img/mobile/index/hero/hero-img-1@2x-mobile.webp 2x
            "
            media="(max-width: 1169px)"
          />
          <img
            class="hero__img"
            src="./img/mobile/index/hero/hero-img-1@1x-mobile.webp 1x"
            alt="Guitar"
          />
        </picture>
        <div class="hero__overlay">
          <h4 class="hero__header">Guitar.</h4>
        </div>
      </li>
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./img/desktop/index/hero/hero-img-2@1x-desktop.webp 1x,
              ./img/desktop/index/hero/hero-img-2@2x-desktop.webp 2x
            "
            media="(min-width: 1170px)"
          />
          <source
            srcset="
              ./img/mobile/index/hero/hero-img-2@1x-mobile.webp 1x,
              ./img/mobile/index/hero/hero-img-2@2x-mobile.webp 2x
            "
            media="(max-width: 1169px)"
          />
          <img
            class="hero__img"
            src="./img/mobile/index/hero/hero-img-2@1x-mobile.webp 1x"
            alt="Guitar"
          />
        </picture>
        <div class="hero__overlay">
          <h4 class="hero__header">Piano.</h4>
        </div>
      </li>
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./img/desktop/index/hero/hero-img-3@1x-desktop.webp 1x,
              ./img/desktop/index/hero/hero-img-3@2x-desktop.webp 2x
            "
            media="(min-width: 1170px)"
          />
          <source
            srcset="
              ./img/mobile/index/hero/hero-img-3@1x-mobile.webp 1x,
              ./img/mobile/index/hero/hero-img-3@2x-mobile.webp 2x
            "
            media="(max-width: 1169px)"
          />
          <img
            class="hero__img"
            src="./img/mobile/index/hero/hero-img-3@1x-mobile.webp 1x"
            alt="Guitar"
          />
        </picture>
        <div class="hero__overlay">
          <h4 class="hero__header">Drum.</h4>
        </div>
      </li>
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./img/desktop/index/hero/hero-img-4@1x-desktop.webp 1x,
              ./img/desktop/index/hero/hero-img-4@2x-desktop.webp 2x
            "
            media="(min-width: 1170px)"
          />
          <source
            srcset="
              ./img/mobile/index/hero/hero-img-4@1x-mobile.webp 1x,
              ./img/mobile/index/hero/hero-img-4@2x-mobile.webp 2x
            "
            media="(max-width: 1169px)"
          />
          <img
            class="hero__img"
            src="./img/mobile/index/hero/hero-img-4@1x-mobile.webp 1x"
            alt="Guitar"
          />
        </picture>
        <div class="hero__overlay">
          <h4 class="hero__header">Microphone.</h4>
        </div>
      </li>
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./img/desktop/index/hero/hero-img-5@1x-desktop.webp 1x,
              ./img/desktop/index/hero/hero-img-5@2x-desktop.webp 2x
            "
            media="(min-width: 1170px)"
          />
          <source
            srcset="
              ./img/mobile/index/hero/hero-img-5@1x-mobile.webp 1x,
              ./img/mobile/index/hero/hero-img-5@2x-mobile.webp 2x
            "
            media="(max-width: 1169px)"
          />
          <img
            class="hero__img"
            src="./img/mobile/index/hero/hero-img-5@1x-mobile.webp 1x"
            alt="Guitar"
          />
        </picture>
        <div class="hero__overlay">
          <h4 class="hero__header">Camera.</h4>
        </div>
      </li>
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./img/desktop/index/hero/hero-img-6@1x-desktop.webp 1x,
              ./img/desktop/index/hero/hero-img-6@2x-desktop.webp 2x
            "
            media="(min-width: 1170px)"
          />
          <source
            srcset="
              ./img/mobile/index/hero/hero-img-6@1x-mobile.webp 1x,
              ./img/mobile/index/hero/hero-img-6@2x-mobile.webp 2x
            "
            media="(max-width: 1169px)"
          />
          <img
            class="hero__img"
            src="./img/mobile/index/hero/hero-img-6@1x-mobile.webp 1x"
            alt="Guitar"
          />
        </picture>
        <div class="hero__overlay">
          <h4 class="hero__header">Singer.</h4>
        </div>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./img/desktop/index/hero/background-img@1x-desktop.webp 1x,
          ./img/desktop/index/hero/background-img@2x-desktop.webp 2x
        "
        media="(min-width: 1170px)"
      />
      <source
        srcset="
          ./img/mobile/index/hero/background-img@1x-mobile.webp 1x,
          ./img/mobile/index/hero/background-img@2x-mobile.webp 2x
        "
        media="(max-width: 1169px)"
      />
      <img
        class="hero__bg"
        src="./img/mobile/index/hero/background-img@1x-mobile.webp 1x"
        alt="Guitar"
      />
    </picture>
  </div>
</section>
