<section class="social">
  <div class="container">
    <div class="social__text">
      <h2 class="social__title">Social.</h2>
      <div class="social__rect"></div>
    </div>
    <ul class="social__list">
      <li class="social__item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="social__link"
        >
          <svg class="social__icon" width="30" height="30">
            <use href="./svg/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          href="https://www.facebook.com/?locale=uk_UA"
          target="_blank"
          class="social__link"
        >
          <svg class="social__icon" width="30" height="30">
            <use href="./svg/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://x.com/?lang=uk" target="_blank" class="social__link">
          <svg class="social__icon" width="30" height="30">
            <use href="./svg/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
